<%= render :partial => "shared/tbar" %>
<div class="container padding-top60">
  <% flash.each do |name, message| %>
      <div class="alert-message success fade in">
        <a class="close" href="#">&times;</a>

        <p><strong>Success!</strong> <%= notice %> </p>
      </div>
  <% end %>
  <div id="content" class="content">

    <%= render :partial => "products/modal_form" %>

    <%= form_tag products_path, :method => 'get', :id => "products_search" do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>

        <div id="products"><%= render 'products' %></div>
    <% end %>

  </div>
  <%= render :partial => "shared/footer" %>
</div>

